#color{
    transition-property: background-color;
    transition-duration: 3s;
}

#growing{
    transition: font-size 3s, color 2s;
}

.magician{
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 100px;
    transition: left 5s cubic-bezier(.5,-1,.5,2);
    
}